
  
body {
  background-color: #ddd;
  color: #fff;
}

h3 {
  color: #333;
}

.header-position {
  position: relative;
  top: 60px;
  border-radius: 3px;
  padding: 20px;
  padding-top: 0;
}

.header-position img {
  position: relative;
  top: -40px;
  border-radius: 50%;
  border: 9px solid #fff;
}

.header-links a,
.header-links a:hover,
.header-links a:active,
.header-links a:visited {
  color: white;
  text-decoration: none;
  margin: 10px 25px;
  font-weight: 700;
}

section {
  background-color: #fff;
  padding: 85px 0 20px;
}

.data-card {
  margin: 30px;
  padding: 20px;
  border-radius: 3px;
}

