body {
  background-color: ${userData.color};
  color: black;
}

h3 {
  color: #333;
}

.header-position {
  position: relative;
  top: 60px;
  border-radius: 6px;
  padding: 20px;
  padding-top: 0;
}

.header-position img {
  position: relative;
  top: -40px;
  border-radius: 50%;
  border: 9px solid #fff;
}


.data-card {
  margin: 30px;
  padding: 20px;
  border-radius: 6px;
}

#boxOne {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#boxTwo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#boxThree {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#boxFour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#boxFive {
  display: flex;
  flex-direction: row;
  justify-content: end;
}